<!DOCTYPE html>
<html>
   <head>
      <title>My News Feed</title>
	      <meta name="viewport" content="width=device-width, initial-scale=1">
	      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></script>
  </head>

  <body>
      <div class="navbar-fixed">
        <nav>
          <div class="grey darken-1 nav-wrapper">
            <a href="/" class="brand-logo">
              <div class="row valign-wrapper">
                <div class="col s1 m1 l1"></div>
                <div class="col s1 m1 l1">Parita Pooj</div>
              </div>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/projects/">Projects</a></li>
              <li><a href="/teaching/">Teaching</a></li>
              <li><a href="/blog/">Blog</a></li>
						</ul>
          </div>
        </nav>
      </div>

      <p>
      </p>
      <p>
      </p>
      <div class="container">
				<div class="row">
					<div class="col s12 m12 l12">
						<div class="card">
							<div class="card-img">
								<img class="responsive-img" height="200" width="1010"
								src="http://1.bp.blogspot.com/-9WHWYyEn4eQ/UycpQRtXtoI/AAAAAAAAWy0/eFOgR1fYmlU/s1600/gsoc+logo.jpg"
								alt="Google Summer of Code 2013 banner">
							<div class="card-content">
                <span class="card-title"><h3><b>Google Summer of Code 2013</b></h3></span>
                <p class="flow-text">
                <br>
                As a participant of
                <a href="https://www.google-melange.com/archive/gsoc/2013"> Google Summer of Code 2013</a>
                with <a href="https://www.google-melange.com/archive/gsoc/2013/orgs/wiselib">The Wiselib</a>.
                <br>
                <br>Wiselib is a generic algorithm library for heterogenous sensor networks.
                <br>In simpler words, it contains various algorithm classes (for instance, localization or routing)
                that can be compiled for several platforms such as iSense or Contiki,
                or the sensor network simulator Shawn.
                It is completely written in C++, and uses templates in the same way as Boost and CGAL.
                This makes it possible to write generic and platform independent code that is very efficiently compiled for the various platforms.
                <br><br>
                My task was to port Arduino to wiselib which involved providing interfaces
                for timer implementation and radio modules like
                Series 1 802.15.4 chip antennae, Series 2 Radio (Zigbee) and Bluetooth Radio.
                <br><br>
                To check out my contributions, you can view my <a href="//github.com/parita/wiselib">fork</a>
                of The Wiselib.
                </p>
							</div>
							<div class="card-action">
                <a href="/projects/gsoc-2013">Project Page</a>
								<a href="https://github.com/parita/wiselib">GitHub Repo</a>
							</div>
						</div>
					</div>

      </div>

   </body>

</html>
