<!DOCTYPE html>
<html>
   <head>
      <title>My News Feed</title>
	      <meta name="viewport" content="width=device-width, initial-scale=1">
	      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></script>
  </head>

  <body>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper light-green darken-4">
            <a href="/" class="brand-logo">
              <div class="row valign-wrapper">
                <div class="col s6 m6 l6"></div>
                <div class="col s1 m1 l1">Parita Pooj</div>
              </div>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/projects/">Projects</a></li>
              <li><a href="/teaching/">Teaching</a></li>
              <li><a href="/blog/">Blog</a></li>
						</ul>
          </div>
        </nav>
      </div>

      <p>
      </p>
      <p>
      </p>
      <div class="container">

        <div class="row valign-wrapper">
          <div class="col s12 m12 l12 card-panel grey lighten-4">
            <div class="card-content">
              <span class="card-title"><h4>Fall 2017</h4></span>
              <blockquote>
                <p><h4><b>
                    COMS  W4731:  Computer Vision
                    </b></h4></p>
                <p><h5>Teaching Assistant</h5></p>
              <p class="flow-text">
                Introductory course in computer vision. Topics include image
                formation and optics, image sensing, binary images, image
                processing and filtering, edge extraction and boundary detection,
                region growing and segmentation, pattern classification methods,
                brightness and reflectance, shape from shading and photometric
                stereo, texture, binocular stereo, optical flow and motion,
                2D and 3D object representation, object recognition,
                vision systems and applications.
              </p>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="row valign-wrapper">
          <div class="col s12 m12 l12 card-panel grey lighten-4">
            <div class="card-content">
              <span class="card-title"><h4>Spring 2017</h4></span>
              <blockquote>
                <p><h4><b>COMS  W6732:  Computational  Imaging</b></h4></p>
                <p><h5>Teaching Assistant</h5></p>
              <p class="flow-text">
                Computational imaging uses a combination of novel imaging optics and
                a computational module to produce new forms of visual information.
                Survey of the state of art in computational imaging.
                Review of recent papers on: omni directional and panoramic imaging,
                catadioptric imaging, high dynamic range imaging, mosaicing and
                superresolution.  Classes are seminars with the instructor,
                guest speakers, and students presenting papers and discussing them.
              </p>
              </blockquote>
            </div>
          </div>
        </div>

        <div class="row valign-wrapper">
          <div class="col s12 m12 l12 card-panel grey lighten-4">
            <div class="card-content">
              <span class="card-title"><h4>Spring 2016</h4></span>
              <blockquote>
                <p><h4><b>
                    <a href="http://www.cs.columbia.edu/~biliris/4111/18s/">
                    COMS  W4111: Introduction to Databases
                    </a></b></h4></p>
                <p><h5>Teaching Assistant</h5></p>
              <p class="flow-text">
                The course covers the fundamentals of databases and how to develop
                database-backed applications
                (data modeling, design/build/query relational/SQL databases).
                It also covered basic database engine internals to understand performance
                (storage, query optimization, transaction processing).
              </p>
              </blockquote>
            </div>
          </div>
        </div>

      </div>

   </body>

</html>
