<!DOCTYPE html>
<html>
   <head>
      <title>My News Feed</title>
	      <meta name="viewport" content="width=device-width, initial-scale=1">
	      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
        <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"></script>
  </head>

  <body>
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper light-green darken-4">
            <a href="/" class="brand-logo">
              <div style="font-size:32px; margin-left:190px" class="row valign-wrapper">
                <div >Parita Pooj</div>
              </div>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a style="font-size:23px" href="/projects/">Projects</a></li>
              <li><a style="font-size:23px" href="/teaching/">Teaching</a></li>
              <li><a style="font-size:23px" href="/blog/">Blog</a></li>
						</ul>
          </div>
        </nav>
      </div>

      <p>
      </p>
      <p>
      </p>
      <div style="margin-top:50px; margin-left:100px" class="row valign-wrapper">
        <div class="col s12 m12 l12">
          <div class="col s3 m3 l3">
            <div class="center-align">
              <div>
              <img class="circle responsive-img" width="300" height="400"
              src="/static/ProfilePhoto.jpg" alt="Profile Photo">
              </div>
            </div>
          </div>
          <div class="col s8 m8 l8">
            <div class="card-content">
              <span class="card-title"><h3>Hi, I am Parita!</h3></span>
                <p class="flow-text">
                  I am a Ph.D. student at
                  <a href="https://www.columbia.edu/">Columbia University</a>, working in the
                  <a href="http://www.cs.columbia.edu/CAVE/">Computer Vision Lab</a>
                  (with <a href="http://www.cs.columbia.edu/~nayar/">Prof. Shree Nayar</a>)
                  and Visual Appearances Lab
                  (with <a href="https://www.peterbelhumeur.com/">Prof. Peter Belhumeur</a>).
                  My current research work is towards applying Deep Learning
                  and Computer Vision for Computational Imaging and Robotics.
                  I am currently seeking summer internship opportunities for 2018.
                </p>
            </div>
            <a style="font-size:20px; text-transform:none" href="https://www.dropbox.com/s/438wwoiqfu0d8q3/Parita%20Pooj%20-%20Resume.pdf?dl=0"
                class="waves-effect waves-light teal btn-large">
              <i class="material-icons left fa fa-file-pdf-o"></i>
                    Resume
            </a>
            <a style="font-size:20px; text-transform:none" href="https://www.linkedin.com/in/paritapooj/"
                class="waves-effect waves-light light-blue darken-3 btn-large">
              <i class="material-icons left fa fa-linkedin"></i>LinkedIn
                </i>
            </a>
            <a style="font-size:20px; text-transform:none; text-align:center" href="https://github.com/parita"
              class="waves-effect waves-light black btn-large">
              <i class="material-icons left fa fa-github"></i>GitHub
                </i>
            </a>
          </div>
        </div>

   </body>

</html>
